[submodule "submodule1"]
	path = submodule1
	url = https://github.com/Jadenchen/embedded2016_summer.git
[submodule "submodule2"]
	path = submodule2
	url = https://github.com/Jadenchen/embedded2016_summer.git
